#===============================
# VS CODE
#===============================

.vscode
*.code-workspace
.history

#===============================
# FOLDERS
#===============================

build/
00_resources/

