#===============================
# VS CODE
#===============================

.vscode
*.code-workspace
.history

#===============================
# FOLDERS
#===============================

00_resources/
executables/
build/
__pycache__/

#===============================
# C
#===============================

.o
