# ===============================
# Default behavior
# ===============================

# Automatically detect text files and normalize them to LF in the repository.
* text=auto eol=lf

# ===============================
# Git files
# ===============================

.gitattributes  text
.gitignore      text
.editorconfig   text

# ===============================
# Documentation
# ===============================

*.md            text
*.txt           text

# ===============================
# C / C++
# ===============================

*.c             text
*.cc            text
*.cpp           text
*.cxx           text
*.h             text
*.hh            text
*.hpp           text
*.hxx           text

# ===============================
# Python
# ===============================

*.py            text

# ===============================
# Verilog / SystemVerilog
# ===============================

*.v             text
*.vh            text
*.sv            text
*.svh           text

# ===============================
# Build systems
# ===============================

Makefile        text
*.mk            text

# ===============================
# Images
# ===============================

*.png           binary
